<launch>

  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  

  <param
    name="robot_description"
    textfile="$(find ot_lights)/urdf/ot_lights.urdf" />
  <!-- <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_footprint base_link 100" /> -->
  
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <rosparam file="$(find ot_lights)/config/controllers_ot_lights.yaml" command="load"/>
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find ot_lights)/urdf/ot_lights.urdf -urdf -model ot_lights"
    output="screen" />
  
  <node name="controller_spawner"  pkg="controller_manager" type="spawner" ns="/ot_lights" respawn="false" output="screen"  args="p1_base_position_controller joint_state_controller p3_fs1_position_controller p5_fs2_position_controller pi_hold_position_controller cr_pi_position_controller "/>
</launch>